<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Swarm NFTs</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/alertify.min.css" rel="stylesheet">
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
    <script src="/js/alertify.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="https://www.ethswarm.org/">
            <img style="margin-left: 5%; border-radius: 20px;" src="/images/swarm.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Swarm NFTs
        </a>
    </nav>

    {{{body}}}

</body>
<footer class="bg-light text-center text-lg-start down-footer">
    <script src="/js/main.js"></script>
  <!-- Copyright -->
  <div class="text-center p-3">
    <a target="_blank" class="text-dark" href="https://gitcoin.co/hackathon/millions">We Are Millions Hackathon</a>
  </div>
  <!-- Copyright -->
</footer>
</html>