{{!-- <form enctype="multipart/form-data" id="NFT_FORM" onsubmit="return false">
  <input type="file" id="nft_image" name="image" accept="image/jpeg">
  <input type="text" id="nft_name" name="name">
  <button onclick="submitNFTMetadata()" value="sumbit"></button>
</form> --}}

<div class="container-fluid nft-form">
    <div class="row">
        <div class="col col-md-4">

        </div>
        <div style="border-radius: 10px;" class="col col-md-4 bg-light">
            <div class="row">
                <div class="col col-md-6">
                    <form onsubmit="return false" id="NFT_FORM" enctype="multipart/form-data">
                        <div class="form-group nft-form-item">
                            <label for="nft_name">NFT Name</label>
                            <input maxlength="15" type="text" class="form-control" name="name" id="nft_name" placeholder="Enter NFT Name">
                        </div>
                        <div class="form-group nft-form-item">
                            <label for="nft_image">NFT Image (JPEG)</label>
                            <input accept="image/jpeg" onchange="updateNFTPreview()" type="file" name="image" class="form-control-file" id="nft_image">
                        </div>
                        <div class="form-group nft-form-item">
                            <label for="nft_name">Mint Address</label>
                            <input type="text" class="form-control" disabled value="0x" id="nft_mint_address">
                        </div>
                        <button onclick="connectMetamask()" id="nft_form_button" type="submit" class="btn btn-primary nft-form-item">Connect Wallet</button>
                        <br>
                        <small id="submitHelp" class="form-text text-muted">Make sure you have Goerli Testnet selected in your Metamask Wallet</small>
                    </form>
                </div>
                <div class="col col-md-6">
                    <img id="nft_preview" class="nft-preview mx-auto d-block" src="/images/preview.png" />
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            
        </div>
    </div>
</div>

<h1 style="text-align: center; margin-top: 2.5%">All NFTs</h1>

<h2 id="no-nft-text" style="display: none; text-align: center; margin-top: 1%; color: grey">No NFTs minted yet.</h2>
<center>
    <img style="text-align: center; margin-top: 2.5%; display: none" src="/images/loading.gif" id="nfts-loading">
</center>
<div class="container nft-gal" id="nft-gallery">

</div>