.nft-form {
    margin-top: 10%;
}

.nft-form-div {
    background-color: lightgray;
}

.nft-form-item {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.nft-preview {
    margin-top: 5%;
    margin-bottom: 5%;
    vertical-align: middle;
    text-align: center;
    height: 256px;
    width: 256px;
    border-radius: 40px;
}

.click-me {
    cursor: pointer;
}

.nft-element {
    text-align: justify;
}

.nft-gal {
    margin-top: 2.5%;
}

.down-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}